/* FORMAT RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-image {
    height: 30px;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
}

main {
    width: 90%;
    margin: 0 auto;
}
/* UTILITIES RULES  */

.white-text {
    color: white;
    font-weight: 700;
}

.woman, .man, .kid {
    padding: 5px;
}

.icon {
    color: white;
    padding: 2px;
}


/* STYLE RULES */

.header-main {
    background-color: #ff6900;
    box-shadow: 2px 2px rgba(140, 140, 140,  0.4);
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-section {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    width: calc((100%/3) - (20px/3));
}

.dress-image {
    width: 450px;
    height: 650px;
}