/* FORMAT RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-image {
    height: 30px;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: "Roboto", sans-serif;
}

main {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 30px;
}

.woman,
.man,
.kid {
    padding: 5px;
}


/* UTILITIES RULES  */



.icon {
    color: white;
    padding: 2px;
}

.white-text {
    color: white;
    font-weight: 700;
}

.red-number {
    color: red;
    font-size: 15px;
    font-weight: 600;
}

.white {
    color: white;
    padding: 2px;
}


/* STYLE RULES */

.header-main {
    background-color: #ff6900;
    box-shadow: 2px 2px rgba(140, 140, 140, 0.4);
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 9999
}

.product-section {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    width: calc((100%/3) - (20px/3));
    position: relative;
}

.dress-image {
    width: 450px;
    height: 650px;

}

.dress-image-hover {
    width: 450px;
    height: 650px;
    display: none;
}

.card:hover .dress-image-hover {
    display: initial;
    position: absolute;
    top: 0;
    left: 0;
}

.footer-main {
    height: 100px;
    padding: 0 100px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heart {
    position: absolute;
    top: 8px;
    right: 16px;
    padding: 10px;
    background-color: white;
}

.discount {
   
    background-color: red;
    padding: 5px;
    color: white;
    font-weight: 600;
}

.green-label {
    /* position: absolute;
    top: 600px;
    left: 50px; */
    background-color: green;
    padding: 5px;
    color: white;
    font-weight: 600;
}

.labels {
     position: absolute;
    top: 600px;
    left: 0px;
}

.heart:hover {
    color: red;
    cursor: pointer;
}